.gradle
/build/
gradle/**
logs/
target/

### STS ###
.apt_generated
.classpath
.factorypathgit
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VSCODE ###
.vscode

build/
out/
classes/
bin/
data/
gradle/
.mvn/
